<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXPJlnuvqDGzj8l-C2WASTe7kDhqoBosA</string>
	<key>GCM_SENDER_ID</key>
	<string>569404053614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zucode.io.hawaii</string>
	<key>PROJECT_ID</key>
	<string>hawaii-99a32</string>
	<key>STORAGE_BUCKET</key>
	<string>hawaii-99a32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569404053614:ios:213973416c1e600b446e7f</string>
</dict>
</plist>